name: Train Brain.js Model

on:
  push:
    branches:
      - master

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Run training script
      run: node train.js

    - name: Upload trained model artifact
      uses: actions/upload-artifact@v4
      with:
        name: brainjs-model
        path: model.json
